altair==5.5.0
browser_cookie3==0.20.1
imageio==2.37.0
matplotlib==3.9.2
numpy>=1.23.0,<2.1.2
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
pandas==2.2.3
pytube==15.0.0
scikit-learn==1.5.2
seaborn==0.13.2
streamlit==1.41.1
torch==2.5.1
ultralytics==8.3.99
yt-dlp==2024.12.23
